.video-card {
  margin: 5px 5px 5px 5px;
  z-index: 1;
}

.video-card-img {
  z-index: -1;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

@media screen and (min-width: 992px) {

  /* Hover Effects */

  .video-card:hover{
    transform: scale(1.06);
    transition: all 0.2s ease-out;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  }

  .card-link-button:hover {
      background-color: rgba(0, 0, 0, .8);
      transition: background-color .2s ease-in-out;
  }

}